@import "variable_overrides"; 
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

a {
	text-decoration: none;
	color: $secondary;
}

.btn-primary {
	margin: auto;
	width: 200px;
	background-color: $primary;
    color: #3c3c3b;
    border: 1px solid #3c3c3b;
    font-weight: 400;
    height: 3.625rem;
    text-transform: none;
}
#productsMainContainer {
    width: 100%;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
	margin-top: 4em;

	img {
		width: 500px;
		height: 400px;
	}

	a {
		text-decoration: none;
		color: $secondary;

	}
}

#imgProduct {
	width: 100%;
	max-width: 800px;
	height: 700px;
	margin-bottom: 2em;
	

}
.description {
	background-color: #f7f7f7;
	padding: 0.5em;
}
#mainProductContainer {
	padding-top: 5em;
    margin: auto;
    width: 60%;
	
}
.productsContainer {
	justify-content: center;
}

.index_description {
	margin: auto;

}

.optionsContainer {
	display: flex;
	flex-direction: row;
}

#goToOrderConfirm {
	margin-top: 10em;
}

#addProductToCart {
	margin-top: 5em;
}

//cart
.cartItemImage {
	width: 500px;
}

#cartContainer {
margin-top: 8em;
margin-left: 5em;
}

.cartProductsContainer {
	display: flex;
	justify-content: space-around;
	padding-bottom: 2em;
}

.cart_description {
	margin: auto;

}





//order 

.formContainer {
	margin-top: 5em;
	padding-left: 5em;
}

.totalPriceContainer {
	margin-top: 5em;
}