@import "variable_overrides"; 
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

a {
	text-decoration: none;
	color: $secondary;
}


.btn-primary {
	margin: auto;
	width: 200px;
	background-color: $primary;
    color: #3c3c3b;
    border: 1px solid #3c3c3b;
    font-weight: 400;
    height: 3.625rem;
    text-transform: none;
}
#productsMainContainer {
    width: 100%;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
	margin-top: 4em;

	img {
		width: 450px;
		height: 370px;
	}

	a {
		text-decoration: none;
		color: $secondary;

	}

	p {
		color: #3c3c3b;

	}
}

#imgProduct {
	width: 100%;

	margin-bottom: 2em;
	

}
.description {
	background-color: #f7f7f7;
	padding: 0.5em;
}
#mainProductContainer {
	padding-top: 5em;
    margin: auto;
    width: 60%;
	
}
.index_description {
	margin: auto;

}

.optionsContainer {
	display: flex;
	flex-direction: row;
}

#goToOrderConfirm {
	margin-top: 10em;
}

#addProductToCart {
	margin-top: 5em;
}

.productsContainer {
	margin-bottom: 1em;
}

@media (max-width: 980px) {
.productsContainer {
	margin: auto;
}

p {
	font-size: 14;
}
}

@media (max-width: 500px) {
	#productsMainContainer {
		img {
			width: 200px;
			height: 150px;
		}
	}
}

//cart

.myCart {
	margin-top: 5em;
	margin-left: 8em;
}
.cartItemImage {
	width: 40%;
}


#cartContainer {
margin-top: 2em;
margin-left: 1em;
}
#totalPriceContainer {
	width: 50%;
	margin: auto;
}

.cartProductsContainer {
	display: flex;
	justify-content: space-around;
	padding-bottom: 2em;

	button {
		width: 25%;
		
	}
}

.cart_description {
	margin: auto;
	width: 25%;

}

@media (max-width: 980px) {
	.cartProductsContainer {
		p {
			font-size: 14;
		}
		button {
			width: 15%;
			font-size: 13;
			height: 3em;
		}
	}
	.totalPriceDisplay {
		font-size: 14;
	}

}
@media (max-width: 500px) {
	.cartProductsContainer {
		p {
			font-size: 12;
		}
		button {
			width: 20%;
			font-size: 11;
		}
	}

	.totalPriceDisplay {
		font-size: 12;
		margin-bottom: 3em;
	}

	.myCart {
		margin-left: 2em;
		h2 {
		font-size: 16;
		}
	}
}


.formContainer {
	margin-top: 5em;
	padding-left: 5em;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;

	input {
		display: block;
		width: 400px;
		margin-bottom: 1em;
		border: none;
		border: 1px solid rgba(0,0,0,.1);
		border-radius: 2px;
		padding-left: 5px;
		outline: none;

	}
}

@media (max-width: 980px) {
	.formContainer {
		padding-left: 2.5em;
		font-size: 14;


		h2 {
			font-size: 16;
		}

	}
}

@media (max-width: 450px) {
	.formContainer {
		justify-items: flex-start;
		font-size: 12;

		input {
			width: 200px
		}

		h2 {
			font-size: 13;
		}
	}
}


.errorText {
	background-color: #b20a37;
	border: 1px solid #b20a37;
	color: white;
}


//order 

#orderPriceContainer {
	margin-left: 1em;
	margin-top: 5em;
}
#orderIdContainer {
	margin-left: 1em;
}




